/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
}

@media (max-width: 991px) {
    #tableScrollX {
        width: 450px; 
        float: left; 
        overflow-x: auto;
    }
}

