/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
}

.tableScrollX {
    overflow-x: auto;
}

@media (min-width:768px) and (max-width:991px) {
    .tdReplyLiTag {
        list-style: none;
        width: 515px;
    }
}
@media (max-width:767px) {
    .tdReplyLiTag {
        list-style: none;
        width: 455px;
    }
}
